body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #ebebeb;
}
.main-grid {
  display: grid;
  height: 100vh;
  grid-template: 1fr 4fr 0.5fr/ 100%;
  grid-template-areas:
    "header"
    "content"
    "footer";
}
.grid-item {
  background-color: #ebebeb;
  display: grid;
  align-items: center;
  justify-items: center;
}
.header {
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 0 6vw;
  > a {
    height: 4em;
    width: 4em;
    background-color: #009e96;
    border-radius: 15px;
    :hover {
      background-color: white;
      border: 2px #7ac9c5 solid;
      color: #009e96;
    }

    > button {
      border: none;
      background-color: #009e96;
      color: white;
      display: table-cell;
      vertical-align: middle;
      font-weight: bold;
      padding: auto 0;
      font-size: 1.5em;
      border-radius: 15px;
      height: 100%;
      width: 100%;
    }
  }
  > div {
    display: block;
    justify-items: center;
    text-align: right;
    color: #009e96;
    > h1 {
      color: #009e96;
      font-size: 2.5em;
    }
    > * {
      margin: 0;
    }
  }
}
.footer {
  grid-area: footer;
}
.footer {
  color: #7ac9c5;
  font-weight: bold;
  > h3 {
    color: #009e96;
  }
}
a {
  text-decoration: none;
}

.social-icons img {
  width: 30px;
  margin: 0 12px;
  box-shadow: 0 0 20px #7f7f7f3d;
  cursor: pointer;
}

@media screen and (min-width: 426px) {
  /* Layout Tablet*/
  .header {
    padding: 0 10vw;
    a {
      width: 6em;
    }
  }
}

@media screen and (min-width: 1400px) {
  /* Layout PC*/
  .header {
    padding: 0 10vw;

    > div > h1 {
      font-size: 4em;
    }
    > div > h3 {
      font-size: 2em;
    }
    a {
      width: 8em;
      height: 5em;

      button {
        font-size: 2em;
      }
    }
  }
}
