@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

img {
  height: auto;
}

.visible {
  display: flex;
}

.oculto {
  display: none;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: radial-gradient(rgb(5, 160, 152), rgba(5, 160, 152, 0.501));
}

.navbar {
  position: sticky;
  top: 0;
  min-height: 8vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-y: visible;
  background: rgb(5, 160, 152);

  img {
    position: absolute;
  }

  .nav-links {
    display: flex;
    background: rgb(5, 160, 152);

    li {
      list-style-type: none;
      padding-right: 1.5vw;

      a {
        text-decoration: none;
        color: #fff;
        font-size: 2rem;
        text-shadow: 0 0 black;
      }

      a::after {
        position: absolute;
        content: "";
        bottom: -4px;
        left: 0;
        height: 2px;
        width: 0%;
        background-color: #fff;
        display: block;
      }

      a:hover::after {
        width: 100%;
        transition: 0.3s ease all;
      }
    }
  }
}

.panel-derecho {
  display: flex;
  justify-content: end;
}

.hamburger-menu {
  cursor: pointer;
  display: none;
  color: white;
  font-size: 2.5rem;
}

.text-hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 2rem;

  h1 {
    font-size: 4rem;
    word-spacing: 7px;
    color: #ededed;
    text-shadow: 0 0 black;
  }

  .button-hero {
    margin-top: 3rem;
    border: none;
    outline: none;
    background-color: transparent;
    border: 2px solid #eee;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-family: inherit;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background-color: #eee;
      color: rgb(7, 157, 139);
      transition: 0.3s ease all;
    }
  }
}

@media (max-width: 911px) {
  .navbar {
    .nav-links[oculto] {
      height: 0;
      transition: all 1s;
    }

    .nav-links {
      transition: all 1s;
      position: absolute;
      top: 100%;
      overflow: hidden;
      flex-direction: column;
      align-items: end;
      z-index: 10;
      padding-right: 2vw;
      padding-left: 2vw;
    }

    .hamburger-menu {
      display: flex;
      padding-right: 2vw;
    }
  }
}

.sombra {
  filter: drop-shadow(5px 3px 5px gray);
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media only screen and (min-width: 768px) {

  /* For tablets: */
  .col-m-1 {
    width: 8.33%;
  }

  .col-m-2 {
    width: 16.66%;
  }

  .col-m-3 {
    width: 25%;
  }

  .col-m-4 {
    width: 33.33%;
  }

  .col-m-5 {
    width: 41.66%;
  }

  .col-m-6 {
    width: 50%;
  }

  .col-m-7 {
    width: 58.33%;
  }

  .col-m-8 {
    width: 66.66%;
  }

  .col-m-9 {
    width: 75%;
  }

  .col-m-10 {
    width: 83.33%;
  }

  .col-m-11 {
    width: 91.66%;
  }

  .col-m-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {

  /* For desktop: */
  .col-l-1 {
    width: 8.33%;
  }

  .col-l-2 {
    width: 16.66%;
  }

  .col-l-3 {
    width: 25%;
  }

  .col-l-4 {
    width: 33.33%;
  }

  .col-l-5 {
    width: 41.66%;
  }

  .col-l-6 {
    width: 50%;
  }

  .col-l-7 {
    width: 58.33%;
  }

  .col-l-8 {
    width: 66.66%;
  }

  .col-l-9 {
    width: 75%;
  }

  .col-l-10 {
    width: 83.33%;
  }

  .col-l-11 {
    width: 91.66%;
  }

  .col-l-12 {
    width: 100%;
  }
}