body{
    margin: 0;
}
.main-grid{
    background-color: black;
    display: grid;
    height: 100vh;
    grid-template: 1fr 4fr 0.5fr/ 100%;
    grid-template-areas: 
    "header"
    "content"
    "footer";
}
.grid-item{
    background-color: #ebebeb;
    display: grid;
    align-items: center;
    justify-items: center;
    
}
.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 2em;

}
.header > button{
    border: none;
    background-color: #7ac9c5;
    border-radius: 15px;
    height: 30%;
    width: 15%;
}
.header > button > a{
    color: #009e96;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    font-size: 1.5em;
}
.header >div{
    display: block;
    justify-items: center;
    text-align: center;
    color: #009e96;

}
.header > div > h1{
    color: #009e96;
    font-size: 3em;
    
}
.left{
    display: none;
    grid-area: left;
}
¿
.footer{
    grid-area: footer;
}
.footer{
    color: #7ac9c5;
    font-weight: bold;
}
.footer > h3{
    color: #009e96;
}
a{
    text-decoration: none;

}